@import "tailwindcss";

#root,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
@theme {
  --color-first: #56311a;
  --color-second: #48b2d3;
  --color-third: #227329;
  --color-border: rgba(205, 197, 197, 0.342);
}

@tailwind utilities;
